.billboard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:150px 121px auto 122px;
    .billboard__item{
        .billboard__image{
            width: 500px;
            height: 500px;
       }
    }
    .billboard__text{
        padding: 67px 0px 67px 106px;
        .billboard__heading{
            font-weight: 700;
            font-size: 50px;
            line-height: 120%;
            text-align:left;
            color: #FFFFFF; 
        }
        .billboard__discription{
            font-weight: 500;
            font-size: 20px;
            line-height: 180%;
            color: #FFFFFF;
            margin-top: 10px;
        }
        .billboard__cv{
            margin-top: 30PX;
            background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
            border-radius: 50px;
            width: 177px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            color:white
        }
    }
}